*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
  background-color: #302C42;
  font-family: 'Kufam', sans-serif;
}

/* IMG_BACKGROUND */
.background{
  position: fixed;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}

.background img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background::after{
  content: '';

  width: inherit;
  height: inherit;
  position: fixed;
  inset: 0;
  opacity: 0.5;
  background: linear-gradient(-233deg, #000 100%, rgba(0, 0, 0, 0) 65%) ;
}

.header{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;

  margin-top: 2%;
}

.header_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.header_logo h1{
 text-transform: uppercase;
 color: #C0B7E8;
 font-weight: 500;
 font-size: 45px;
}

.header_logo img{
  width: 30%;
}

.list_header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25%;
}

.list_header li{
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.list_header li:hover{
  color: #C0B7E8;
  scale: 1.1;
}

/* SOBRE O VR */
.vrvirtuality{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  gap: 10%;

  margin: 10%;
}

/* SOBRE O VR IMG */
.girl-vr{
  width: 25%;
  border-radius: 50%;
  box-shadow: 10px 10px 10px black;
  /* clip-path: circle(50% at 50% 50%); */
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* SOBRE O VR IMG_HOVER */
.girl-vr:hover{
  scale: 1.1;
}

/* SOBRE O VR STRONG */
.vrvirtuality strong{
  color: #C0B7E8;
}

/* SOBRE O VR H2 */
.vrvirtuality h2{
  font-weight: 700;
  font-size: 35px;
  color: white;
}

/* SOBRE O VR PARAGRAFO */
.about-virtual{
  color: white;
  font-weight: 500;
  margin-top: 5%;
}

/* INTRODUÇAO SOBRE O VR */
.introduction{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15%;
}

.introduction p{
  color: white;
  border: 2px solid #C0B7E8;
  padding: 15px;
  border-radius: 10px;
}

.introduction h2{
  color: white;
  font-size: 25px;
  font-weight: 700;
}

/* SOBRE HYDRA PART 2 */
#abouthydra{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.whyhydra img{
  cursor: pointer;
  width: 20%;
  margin-left: 5%;

  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.whyhydra img:hover{
  scale: 1.1;
}

.whyhydra{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.whyhydra p{
  width: 50%;
  border: 2px solid #C0B7E8;
  padding: 15px;
  border-radius: 10px;
}

.purchase{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  text-align: center;
}

.purchase h2{
  color: white;
  font-size: 35px;
  font-weight: 700;
  border-bottom: 1px solid #C0B7E8;
}